$corner_border:3px solid #272727;

.fr_corner_content {
    width: 1366px/$golden-ratio;
    margin: {
        left: auto;
        right: auto;
    }
}

.corner{
  width:100%;
  position: relative;
    padding: em(80px);


  &:after{
    content: "";
    width: em(30px);
    height: em(30px);
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top: $corner_border;
    border-left:$corner_border;
  }
  &:before{
    content: "";
    width: em(30px);
    height: em(30px);
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border-right: $corner_border;
    border-bottom:$corner_border;

  }
  &.white{
    &:after {
      border-top: 3px solid white;
      border-left: 3px solid white;
    }
    &:before {
      border-right: 3px solid white;
      border-bottom: 3px solid white;
    }
  }
}